* { margin: 0; padding: 0; }

body {
	font-family: georgia,serif;
	font-size: 0.9em;
	color: #333;
	background: #f9f9f9;
	border-top-width: 30px;
	border-top-style: solid;
	border-top-color: #414141;
}

form {
	background-color: #fff;
	margin-left: 8px;
	padding: 16px 16px 40px 16px;
	border: 1px solid #ececec;
}

form input{
	font-family: georgia,serif;
	color: #333;
	border: 1px solid #ececec;
}

form input:hover{
	border: 1px solid #bbb;
}

form .forgetmenot { font-weight: normal; float: left; margin-bottom: 0;}

#login form .submit input {
	background: url(../images/blue-grad.png) repeat-x #cbdcf8;
	text-decoration: none;
	padding: 3px;
	border: 1px solid #bbb;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px
}

#login form .submit input:hover {
	color: #21759B;
	cursor: pointer;
}

form .submit { float: right; }

form p { margin-bottom: 24px; }

h1 a {
	background: url(../images/logo-login.png) no-repeat;
	width: 292px;
	height: 66px;
	text-indent: -9999px;
	overflow: hidden;
	padding-bottom: 15px;
	display: block;
}

#login { width: 292px; margin: 7em auto; }

p.error{
	font-weight: bold;
	background: url(../images/error.png) no-repeat left #fff4f4;
	padding: 15px 15px 15px 50px;
	margin: 10px 0 10px 0;
	border: 1px solid #ff0000;
}

p.message{
	font-weight: bold;
	background-color: #fff9d7;
	padding: 15px;
	margin: 10px 0 10px 0;
	border: 1px solid #e2c822;
}

#nav { margin: 0 0 0 8px; padding: 16px; }

#user_pass, #user_login, #user_email {
	font-size: 1.5em;
	width: 97%;
	padding: 3px;
	margin-right: 6px;
}

/* links */

a:link, a:visited {
	color: #21759b;
}

a:hover {
	color: #d54e21;
}

#backtoblog a:link, #backtoblog a:visited {
	color: #fff;
	position: absolute;
	top: 7px;
	left: 15px;
	text-decoration: none;
}

#backtoblog a:hover {
	color: #ececec;
}

.rounded{
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px
}